script(src=path +"js/jquery.js")
script(src=path +"js/jquery.maskedinput.min.js")
script(src=path +"js/modal.js")
script(src=path +"js/swiper-bundle.min.js")
script(src=path +"js/slider.js")
script(src=path +"js/select2.min.js")
script(src=path +"js/jquery.event.move.js")
script(src=path +"js/jquery.twentytwenty.js")
script(src=path +"js/jquery.marquee.min.js")
script(src=path +"js/aos.js")
script(src=path +"js/fancybox.min.js")
script(src=path +"js/jquery-ui.min.js")
script(src=path +"js/jquery-ui-touch-punch.js")
script(src=path +"js/form.js")

script(src=path +"js/function.js")
